// Specific CSS for your home-page

html {
  scroll-behavior: smooth;
}

body {
  // background-color: #f7dddf2d;
  margin: 0;
  background: #edc0bf;
  background: linear-gradient(90deg, #c0caec 0,#eec992 58%);
  font-family: 'Inter', sans-serif;
}

.landing-main {
  padding-top: 100px;
}

.center {
  text-align: center;
}

.landing-info-container {
  background-color: white;
  width: 90vw;
  margin: auto;
  padding: 30px;
  margin-bottom: 100px;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 24px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
}

.features-container {
  display: flex;
  justify-content: space-around;
}

.members-container {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: 'Cabin', sans-serif;
  color: #EE841C;
  // text-shadow: 0px 1px 1px #d87919;
  opacity: 1;
  // padding: 15px 25px;
  // background-color: white;
}

p {
  font-family: 'Cabin', sans-serif;
}

h5 {
  margin-top: 20px;
}

.crypto-female {
  width:100%;
  opacity: 0.8;
}

.feature-illustration {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.feature-card-link {
  text-decoration: none;
}

.crypto-female {
  opacity: 1;
}
