.dashboard-page {
  background-color: #f3f3f3;
}
.simulation-buttons {
  text-align: center;
}
.dashboard-cards-container {
  margin-bottom: 25px;
}
.dashboard-holding-card {
  width: 100%;
  height: 250px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.dashboard-holding-card,
.dashboard-small-cards,
.dashboard-card-graph {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 26px;
  box-shadow: 5px 5px 25px 0px rgba(145, 193, 255, 0.309);
  border-radius: 5px;
  padding: 5px;
}
.dashboard-row-second {
  display: flex;
  justify-content: space-between;
}

.dashboard-coin-of-the-month {
  width: 25%;
}

.dashboard-small-cards {
  width: 33%;
  height: 100px;
  border: 1px solid grey;
}
.dashboard-card-graph {
  width: 100%;
  height: 250px;
}
.dashboard-row-second {
  margin-bottom: 20px;
  margin-top: 20px;
}
.dashboard-row-first {
  margin-bottom: 20px;
  margin-top: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#no-holdings-card {
  padding-top: 250px;
  margin: auto;
//   margin-top: 100px;
//   margin-bottom: 100px;
//   margin: auto;
//   background-color: white;
//   width: 90vw;
//   padding: 30px;
//   backdrop-filter: blur( 3.5px );
//   -webkit-backdrop-filter: blur( 3.5px );
//   border-radius: 24px;
//   border: 1px solid rgba(255, 255, 255, 0.027);
}

.dashboard-main-container {
  min-height: 75vh;
  // background: rgba(255, 255, 255, 0.63);
}

#dashboard-btn {
  color: #FF840A;
}

#dashboard-btn:hover {
  opacity: 0.8;
}



// .animation-container {
//   display: relative;
//   width : 50px;
//   height : 40px;
// }

// .container {
//   position: relative;
//   top : 30px;
//   height : 300px;
//   width : 190px;
//   transform : scale(0.5) translateX(0) scaleY(0.7);
// }

// .y-axis-container {
//    animation: bounce 2.6s infinite ease-in-out;
// }

// .shadow {
//    animation: scaling 2.6s infinite ease-in-out;
// }

// .coin {
//   position : absolute;
//   height : 300px;
//   left : 0;
//   width: 170px;
//   background : gold;
//   border-radius : 100%;
//   overflow : hidden;
// }

// .side-coin {
//   position : absolute;
//   left : 85px;
//   height : 300px;
//   width: 35px;
//   background : #f5b642;
// }

// .side {
//   position: absolute;
//   background : #f5b642;
//   left : 22px;
//   width : 165px;
//   height : 304px;
//   top: -2px;
// }

// .shine {
//   width : 400px;
//   height : 20px;
//   background : rgba(255,255,255,0.65);
//   transform: rotate(25deg);
//   animation : shine 5s infinite;
// }

// .flash {
//   z-index: 200;
//   position : absolute;
//   width : 15px;
//   height : 15px;
//   background : white;
//   top: 30px;
//   right : 20px;
//   animation : flash 7s infinite;
// }

// .dai {
//   position : absolute;
//   width: 100px;
//   height : 100px;
//   background : #faf20a;
//   border: 1px solid white;
//   transform : rotate(53deg) skew(26deg);
//   top: 94px;
//   left : 35px;
//   overflow : hidden;
// }

// .cutout {
//   z-index : 20;
//   width : 150%;
//   height : 150%;
//   background : #ffee38;
//   transform : rotate(45deg);
//   position : absolute;
//   top : 29px;
//   left : 29px;
// }

// .dai-shadow {
//   z-index : 20;
//   width : 150%;
//   height : 150%;
//   background : rgba(0,0,0,0.07);
//   transform : rotate(45deg);
//   position : absolute;
//   top : 29px;
//   right : 29px;
// }

// .inner-dai {
//   position : relative;
//   background : white;
//   height : 70px;
//   width: 70px;
//   top : 15px;
//   left : 15px;
// }

// .inner-inner-dai {
//   position : relative;
//   background : #ffee38;
//   width: 20px;
//   height : 20px;
//   top : 25px;
//   left : 25px;
// }

// .shadow {
//   position : relative;
//   left : calc(50% - 60px);
//   top : -40px;
//   background : rgba(0,0,0,0.2);
//   height : 30px;
//   width : 100px;
//   animation : scaling 2.6s infinite;
//   border-radius: 100%;
// }

// @keyframes bounce {
//   20% {
//     animation-timing-function: ease-out;
//     transform: translateY(-60px);
//   }

//    50% {
//     animation-timing-function: ease-out;
//     transform: translateY(-80px);
//   }
// }

// @keyframes scaling {
//   20% {
//     transform: scale(0.6);
//   }

//   50% {
//     transform: scale(0.5);
//   }
// }

// @keyframes flash {
//   0% {
//     transform : rotate(0deg) scale(0);
//   }
//   8% {
//     transform : rotate(0deg) scale(0);
//   }
//   10% {
//     transform : rotate(150deg) scale(1.8);
//   }
//   15% {
//     transform : rotate(45deg) scale(0);
//   }
//   100% {
//     transform : rotate(45deg) scale(0);
//   }
// }


// @keyframes shine {
//   20% {
//     transform : rotate(25deg) translateY(400px);
//   }

//   100% {
//     transform : rotate(25deg) translateY(400px);
//   }
// }
