// .dashboard-cards {
//   display: flex;

//   justify-content: space-around;
//   align-items: flex-start;
//   grid-gap: 16px;
//   margin-bottom: 100px;
// }

// .dashboard-card {
//   order: 1;
//   flex: 0 1 auto;
//   align-self: auto;
//   border: 2px solid red;
//   justify-content: space-around;
// }
.dashboard-row {
  display: flex;
  justify-content: space-between;
}
.small-cards {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  width: 75vw;
}

.dashboard-big-card {
  width: 25vw;
}
.dashboard-small-cards {
  border: 2px solid red;
  width: 33%;
}
.dashboard-card-graph {
  width: 50vw;
}
.dashboard-cards-container {
  margin-bottom: 50%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
