p {
  font-size: 16px;
}
.page-container {
  display: block;
  direction: column;
  margin-top: 25px;
  margin-bottom: 40px;
}
.graph-purchase-container {
  display: flex;
  direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0;
  height: 400px;
}
.product-graph {
  height: 400px;
  margin-bottom: 20px;
  width: 80vw;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.027);
}
.product-info-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.027);
}

.product-info {
  background-color: white;
  width: 100vw;
}

.purchase-container {
  width: 25vw;
  min-width: 200px;
  padding: 15px;
  margin-left: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.027);
}

.title {
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

// .button {
//   color: #FF0000;
//   background-color: #f4f4f4;
//   background: none;
//   border: #f2f2f2;
// }

.buy-button {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#date-sim-show {
  background-color: #ff840a;
  border-radius: 20px;
  border: none;
}

#date-sim-btn {
  border-radius: 20px;
}

#modal-form {
  width: 250px;
  margin: auto;
  text-align: center;
  position: relative;
}

// .watchlist-icon {
//   border-radius: 35px;
//   font-size: 18px;
//   padding: 10px 0px;
//   text-decoration: none;
//   text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
//   height: 50px;
//   width: 40px;
// }

#rounded-graph {
  height: 400px;
  margin-bottom: 20px;
  width: 80vw;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.027);
}

#rounded-graph * {
  // background-color: white;
  // box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
  // backdrop-filter: blur( 3.5px );
  // -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 24px;
  // border: 1px solid rgba(255, 255, 255, 0.027);
}

.p:center {
  margin-right: -30px;
}
#watchlist-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media screen and (min-width: 601px) {
  #rounded-graph-mobile {
  display: none;
  }
}
@media screen and (max-width: 600px) {
  .page-container {
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100vw;
  }
  .graph-purchase-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0;
    height: 560px;
  }
  .purchase-container {
    padding: 10px;
    height: 330px;
    width: 100%;
    margin: 0;
  }
  #rounded-graph-mobile {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.027);
  }
  #rounded-graph-mobile * {
    // background-color: white;
    // box-shadow: 0 1px 4px 0 rgba(31, 38, 135, 0.164);
    // backdrop-filter: blur( 3.5px );
    // -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 24px;
    // border: 1px solid rgba(255, 255, 255, 0.027);
  }
  #rounded-graph {
    display: none;
  }
}
