// .product-container {
//   display: flex;
//   flex-direction: column;
// }
// .product-graph {
//   min-height: 400px;
//   background-color: green;
// }
// .product-exchange {
//   min-height: 200px;
//   background-color: red;
// }
// .product-info {
//   background-color: white;
// }
// .product-border-top {
//   border-top: grey 2px solid;
// }
// .accordion button {
//   text-decoration: none;
//   color: black;
// }
// .product-action {
//   height: 120px;
//   width: 100vw;
//   position: sticky;
//   bottom: 120px;
//   align-self: flex-end;
//   display: flex;
//   flex-direction: column;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   background-color: white;
  // border-top: grey 2px solid;
// }
// .product-action .title-watchlist {
//   justify-content: space-between;
//   flex-direction: row;
//   display: flex;
//   margin-bottom: 10px;
// }
// .product-action .title {
//   width: 70%;
// }
// .product-action .watchlist {
//   display: flex;
//   justify-content: right;
//   max-width: 50px;
//   flex-grow: 1;
//   color: black;
// }
// .buy-button {
//   display: flex;
//   justify-content: right;
// }
// .buy-button button {
//   width: 100px;
//   padding: 0;
// }
// .product-similar {
//   min-height: 200px;
//   background-color: grey;
// }
// .expanded {
//   background-color: pink;
// }
// .purchase-modal {
//   height: 500px;
//   width: 100vw;
//   bottom: 120px;
//   align-self: flex-end;
//   display: flex;
//   flex-direction: column;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   background-color: white;
//   border-top: grey 2px solid;
//   align-items: stretch;
// }
// .sticky {
//   position: sticky;
//   bottom: 0px;
//   align-self: flex-end;
//   display: flex;
// }
// .sticky .modal {
//   position: sticky;
//   bottom: 0px;
//   align-self: flex-end;
//   display: flex;
// }
// .product-action .title-watchlist {
//   justify-content: space-between;
//   flex-direction: row;
//   display: flex;
//   margin-bottom: 10px;
// }
// .product-action .title {
//   width: 70%;
// }
// .product-action .watchlist {
//   display: flex;
//   justify-content: right;
//   max-width: 50px;
//   flex-grow: 1;
//   color: black;
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .page-container {
    display: block;
    direction: column;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .graph-purchase-container {
    display: flex;
    direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0;
    height: 400px;
  }
  .product-info-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 30px;
  }
  .product-graph {
    height: 400px;
    background-color: white;
    margin-bottom: 20px;
    width: 80vw;
  }
  .product-info {
    background-color: white;
    width: 100vw;
  }
}


  // BUY & WATCHLIST(HEART) CARD
  //  .body {
  //   -webkit-transform: perspective(500px);
  //   -webkit-transform-style: preserve-3d;
  // }


  .purchase-container {
    width: 30vw;
    padding: 15px;
    margin-left: 10px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    width: 30rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  //   overflow: hidden;
  //   transform: rotatex(80deg) translatey(-200px) translatez(-100px);
  //   box-shadow: 0px 30px 70px rgba(0,0,0, 0.5);
  //   transition:.7s;
  // }
  // .rounded {
  //   border-radius: 40px !important;
   }




  // .purchase-container:before {
  //   content: "";
  //   position: absolute;
    // background: inherit;
    // z-index: -1;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    // filter: blur(10px);
    // margin: -20px;
    // }

    // .purchase-container:hover{
    //   transform: rotatex(0deg);
    //   transform: rotatez(0deg);
    //   transition:.6s;
    //   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

    // }


    .product-action {
    height: 50vh;
    width: 100vw;
    position: sticky;
    bottom: 120px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-top: grey 2px solid;
  }

  .product-action .title-watchlist {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
  }

  .product-action .title {
    width: 70%;
  }
  // .product-action .watchlist {
  //   display: flex;
  //   justify-content: right;
  //   max-width: 50px;
  //   flex-grow: 1;
  //   color: black;
  // }


  .button {
    color: #FF0000;
    background-color: #f4f4f4;
    background: none;
    border: #f2f2f2;
  }




  .buy-button {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 16px;
  }
  .buy-button button {
    // width: 100px;
    padding: 0;
  }
  .product-similar {
    min-height: 200px;
    background-color: grey;
  }
  .expanded {
    background-color: pink;
  }
  .purchase-modal {
    height: 500px;
    width: 100vw;
    bottom: 120px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    // border-top: grey 2px solid;
    align-items: stretch;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;

  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


 #date-sim-show {
   background-color: #FF840A;
   border-radius: 20px;
   border: none;
 }

 #date-sim-btn {
  border-radius: 20px;
 }

.title h4 {
  font-size: 20px;
}

#modal-form {
  width: 250px;
  margin: auto;
  text-align: center;
  position: relative;
}

.watchlist-icon {
  border-radius: 35px;
  font-size: 18px;
  padding: 10px 0px;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  height: 50px;
  width: 40px;
}
