.product-container {
  display: flex;
  flex-direction: column;
}
.product-graph {
  min-height: 400px;
  background-color: green;
}
.product-exchange {
  min-height: 200px;
  background-color: red;
}
.product-info {
  background-color: white;
}
.product-border-top {
  border-top: grey 2px solid;
}
.accordion button {
  text-decoration: none;
  color: black;
}
.product-action {
  height: 120px;
  width: 100vw;
  position: sticky;
  bottom: 120px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-top: grey 2px solid;
}
.product-action .title-watchlist {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  margin-bottom: 10px;
}
.product-action .title {
  width: 70%;
}
.product-action .watchlist {
  display: flex;
  justify-content: right;
  max-width: 50px;
  flex-grow: 1;
  color: black;
}
.buy-button {
  display: flex;
  justify-content: right;
}
.buy-button button {
  width: 100px;
  padding: 0;
}
.product-similar {
  min-height: 200px;
  background-color: grey;
}
.expanded {
  background-color: pink;
}
.purchase-modal {
  height: 500px;
  width: 100vw;
  bottom: 120px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-top: grey 2px solid;
  align-items: stretch;
}
.sticky {
  position: sticky;
  bottom: 0px;
  align-self: flex-end;
  display: flex;
}
.sticky .modal {
  position: sticky;
  bottom: 0px;
  align-self: flex-end;
  display: flex;
}
// .product-action .title-watchlist {
//   justify-content: space-between;
//   flex-direction: row;
//   display: flex;
//   margin-bottom: 10px;
// }
// .product-action .title {
//   width: 70%;
// }
// .product-action .watchlist {
//   display: flex;
//   justify-content: right;
//   max-width: 50px;
//   flex-grow: 1;
//   color: black;
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .show-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-right: 30px;
  }
  .product-graph {
    min-height: 400px;
    background-color: white;
  }
  .product-exchange {
    min-height: 200px;
    background-color: red;
  }
  .product-info {
    background-color: white;
  }
  .product-border-top {
    border-top: grey 2px solid;
  }
  .accordion button {
    text-decoration: none;
    color: black;
  }
  .purchase-container {
    width: 30vw;
  }
  .product-action {
    height: 50vh;
    width: 100vw;
    position: sticky;
    bottom: 120px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-top: grey 2px solid;
  }
  .product-action .title-watchlist {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
  }
  .product-action .title {
    width: 70%;
  }
  .product-action .watchlist {
    display: flex;
    justify-content: right;
    max-width: 50px;
    flex-grow: 1;
    color: black;
  }
  .buy-button {
    display: flex;
    justify-content: right;
  }
  .buy-button button {
    width: 100px;
    padding: 0;
  }
  .product-similar {
    min-height: 200px;
    background-color: grey;
  }
  .expanded {
    background-color: pink;
  }
  .purchase-modal {
    height: 500px;
    width: 100vw;
    bottom: 120px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-top: grey 2px solid;
    align-items: stretch;
  }
  .sticky {
    position: sticky;
    bottom: 0px;
    align-self: flex-end;
    display: flex;
  }
  .sticky .modall {
    position: sticky;
    bottom: 0px;
    align-self: flex-end;
    display: flex;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 }
