<div class="footer">
  <div class="socials">
    <ul id="footer-list">
    <%# These are just placeholders below, change out with fontawsome  %>
      <li>GitHub</li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Insta</li>
    </ul>
  </div>
</div>
