<div class="footer">
  <div class="footer-links">
    <ul id="footer-list">
      <a href=""><li><i class="fab fa-github"></i></li></a>
      <a href=""><li><i class="fab fa-facebook"></i></li></a>
      <a href=""><li><i class="fab fa-twitter"></i></li></a>
      <a href=""><li><i class="fab fa-instagram"></i></li></a>
      <a href=""><li><i class="fab fa-linkedin"></i></li></a>
    </ul>
  </div>
</div>
