<nav class="menu">
  <ol>
    <li class="menu-item"><a href="#0">Home</a></li>
    <li class="menu-item"><a href="#0">About</a></li>
    <li class="menu-item">
      <a href="#0">Login</a>
      <ol class="sub-menu">

      </ol>
    </li>
    <li class="menu-item">
      <a href="#0">cryptos</a>
      <ol class="sub-menu">
      </ol>
    </li>
    <li class="menu-item"><a href="#0">Watch-List</a></li>
  </ol>
</nav>
