<div class="Banner">
<h1>WELCOME TO THE INFORMATION CHANNEL</h1>
</div>

<div class="card-trip">
  <img src=" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <img class="card-trip-user avatar-bordered" />
  </div>
</div>
