<div class="banner-articles">
  <div class="main-title">
    <h1>INFO CENTRE</h1>
  </div>
</div>

<div class="info-container">
  <div class="articles-header">
    <h2>Getting Started With Cryptocurrencies?</h2>
  </div>
  <br><br><br>
  <a href=""  class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/domtywpyc/image/upload/v1646586932/vnhatqt8lv8ze6ev704p.jpg)">
    <div>
    Jargon Buster
    </div>
  </a>
  <div class="articles-cards-container">
    <a href="" class="article-card">
      <div>
        <div class="article-card-header">
          <img src="https://www.bitcoin.com/images/uploads/get-started-learn-the-basics-lg@2x.png" alt="rover" />
        </div>
        <div class="article-card-body">
          <span class="tag tag-teal">Technology</span>
          <h4>
            Learn the basics
          </h4>
          <p>
            Get a simple introduction to Bitcoin and why it matters.
          </p>
          <div class="user">
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo" alt="user" />
            <div class="user-info">
              <h5>Eyup Ucmaz</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="" class="article-card">
      <div>
        <div class="article-card-header">
          <img src="https://www.bitcoin.com/images/uploads/get-started-how-to-receive-bitcoin-lg@2x.png" alt="ballons" />
        </div>
        <div class="article-card-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            How do I receive bitcoin?
          </h4>
          <p>
            To receive bitcoin, simply provide the sender with your Bitcoin address, which you can find in your Bitcoin wallet.
          </p>
          <div class="user">
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo" alt="user" />
            <div class="user-info">
              <h5>Eyup Ucmaz</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="" class="article-card">
      <div>
        <div class="article-card-header">
          <img src="https://www.bitcoin.com/images/uploads/get-started-how-to-buy-bitcoin-lg@2x.png" alt="city" />
        </div>
        <div class="article-card-body">
          <span class="tag tag-pink">Design</span>
          <h4>
          How do I buy bitcoin?
          </h4>
          <p>
            Learn how to get your first bitcoin in minutes.
          </p>
          <div class="user">
            <img src="https://studyinbaltics.ee/wp-content/uploads/2020/03/3799Ffxy.jpg" alt="user" />
            <div class="user-info">
              <h5>Carrie Brewer</h5>
              <small>1w ago</small>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="" class="article-card">
      <div>
        <div class="article-card-header">
          <img src="https://www.bitcoin.com/images/uploads/get-started-crypto-tax-lg@2x.png" alt="rover" />
        </div>
        <div class="article-card-body">
          <span class="tag tag-teal">Technology</span>
          <h4>
            How is crypto taxed?
          </h4>
          <p>
            Get the basics of how cryptocurrencies are taxed and why it matters.
          </p>
          <div class="user">
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo" alt="user" />
            <div class="user-info">
              <h5>Eyup Ucmaz</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="" class="article-card">
      <div>
        <div class="article-card-header">
          <img src="https://www.bitcoin.com/images/uploads/get-started-environment-lg@2x.png" alt="ballons" />
        </div>
        <div class="article-card-body">
          <span class="tag tag-purple">Popular</span>
          <h4>
            How does Bitcoin impact the environment?
          </h4>
          <p>
            As bitcoin has become more mainstream, concerns about environmental impact have become more numerous and pressing. Unfortunately, some of the recent criticisms have misrepresented the facts.
          </p>
          <div class="user">
            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu8sn9zF15pW59JIYiLgx3PQ3EyZLFp5Zqao906l=s32-c-mo" alt="user" />
            <div class="user-info">
              <h5>Eyup Ucmaz</h5>
              <small>Yesterday</small>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="" class="article-card">
      <div>
        <div class="article-card-header">
          <img src="https://www.bitcoin.com/images/uploads/get-started-store-of-value-lg@2x.png" alt="city" />
        </div>
        <div class="article-card-body">
          <span class="tag tag-pink">Design</span>
          <h4>
          Is Bitcoin a store of value?
          </h4>
          <p>
            There are many reasons to be interested in Bitcoin, and we outline the most common ones here, but it is undeniably the price that attracts the most attention. This is natural because people are always looking for ways to grow their wealth.
          </p>
          <div class="user">
            <img src="https://studyinbaltics.ee/wp-content/uploads/2020/03/3799Ffxy.jpg" alt="user" />
            <div class="user-info">
              <h5>Carrie Brewer</h5>
              <small>1w ago</small>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
