<div class="banner">
  <div class="banner-info-container">
    <div class="banner-title">
      <%= cl_image_tag("https://res.cloudinary.com/domtywpyc/image/upload/v1646143122/mvm0isuwrx6vyrvhz1rn.png",
      class: "coin-img", width: 100, height: 100, crop: :fill) %>
      <h1><strong>Cryptaul</strong></h1>
    </div>
    <h3>The one-stop shop for crypto newbies/retail investors</h3>
    <br>

    <div class="banner-buttons">
      <a href="" class="banner-btn">Browse</a>
      <a href="" class="banner-btn">Learn More</a>
      <a href="" class="banner-btn">Sign Up</a>
    </div>
  </div>

    <%# <link href='https://fonts.googleapis.com/css?family=Lato|Roboto:200,900' rel='stylesheet' type='text/css'>
    <a href="/pets" class="home-btn">
    <svg width="277" height="62">
    <defs>
        <linearGradient id="grad1">
            <stop offset="0%" stop-color="#FF8282"/>
            <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
    </defs>
    <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="54"></rect>
  </svg>
  <!--<span>Voir mes réalisations</span>-->
  <span>Find Your New Friend</span>
  </a> %>
</div>

<div class="landing-main center">
  <div class="landing-info container">
    <div class="more-info">
      <h2>What is Cryptaul?</h2>
      <p>We are a service aimed at people like you.....</p>
    </div>
  </div>

  <div class="landing-info container">
    <div class="features-container">
      <div class="feature-card">
        <h2>Browse</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, maxime aspernatur beatae accusamus laudantium officiis! Necessitatibus sed sequi harum ducimus maiores maxime, nobis voluptate voluptatibus? Neque tempora esse qui. Possimus?</p>
      </div>
      <div class="feature-card">
        <h2>Learn</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, maxime aspernatur beatae accusamus laudantium officiis! Necessitatibus sed sequi harum ducimus maiores maxime, nobis voluptate voluptatibus? Neque tempora esse qui. Possimus?</p>
      </div>
      <div class="feature-card">
        <h2>Sign Up</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, maxime aspernatur beatae accusamus laudantium officiis! Necessitatibus sed sequi harum ducimus maiores maxime, nobis voluptate voluptatibus? Neque tempora esse qui. Possimus?</p>
      </div>
    </div>
  </div>

  <div class="landing-info container">
    <div class="team-info">
      <h2>Meet The Team</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam est, officiis inventore excepturi fugiat iure, exercitationem deserunt obcaecati veniam ea laboriosam. Libero adipisci tempore vel voluptatum, recusandae at non nisi!</p>
    </div>
  </div>
</div>
