.banner-home {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)), url("https://res.cloudinary.com/domtywpyc/image/upload/v1646218268/nfwbo92vhmim7o8t8taz.jpg");
    /* Set a specific height */
  height: 92vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: contain;
  align-items: center;
}

.banner-info-container {
  margin-left: 50px;
  padding-top: 150px;
  max-width: 60vw;
}

.banner-title {
  display: flex;
}

.banner-buttons {
  margin-top: 15px;
}

h1 {
  color: white;
  align-self: center;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 5px;
  font-family: 'Sora', sans-serif;
  font-size: 6rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h3 {
  color: white;
  margin-top: 20px;
  font-family: 'Epilogue', sans-serif;
  font-weight: lighter;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  font-size: 32px;
}

.coin-img {
  margin-top: 10px;
}

.banner-articles {
  height: 170px;
  background-color: #FF840A;  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: contain;
  align-items: center;
  margin-bottom: 60px;
}

.banner-articles h1 {
  padding-top: 29px;
  font-size: 60px;
  text-align: center;
}

.banner-pages {
  height: 170px;
  background-color: #FF840A;  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: contain;
  align-items: center;
  margin-bottom: 60px;
}

.banner-pages h1 {
  padding-top: 50px;
  font-size: 60px;
  text-align: center;
}

.date-navigation {
  color: white;
  padding-left: 30px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

// .date-navigation a {
//   color: black;
//   text-decoration: none;
//   padding: 15px 20px;
//   background-color: white;
//   border-radius: 20px;
// }
