
.feature-card {
  width: 300px;
}

.member-card {
  margin-top: 40px;
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  // border-radius: 8px;
  width: 290px;
  height: 400px;
  transition: transform .2s; /* Animation */
  text-decoration: none;
  color: black;
  background: rgb(255, 255, 255);
  // box-shadow: 0 2px 6px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.member-card:hover {
  transform: scale(1.1);
  color: black;
}

.member-card li {
  list-style: none;
  text-align: start;
}

.member-card img {
  margin-top: 5px;
}

.member-card p {
  font-size: 16px;
  padding: 0px 10px 0px 10px;
  font-style: italic;
}

.team-member-list {
  padding: 0px;
  justify-content: space-between;
  text-align: center;
}


@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// * {
//   box-sizing: border-box;
// }
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0;
//   background-color: #f7f8fc;
//   font-family: "Roboto", sans-serif;
//   color: #10182f;
// }
.articles-cards-container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 80px auto;
}
.article-card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  text-decoration: none;
  color: black;
  transition: transform .2s; /* Animation */
}

.article-card:hover {
  transform: scale(1.1);
  color: black;
}

.article-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.article-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.article-card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: auto;
  transition: transform .2s; /* Animation */
  text-decoration: none;
}

.card-category:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: white;
}
