// Import your components CSS files here.
@import "alert";
@import "avatars";
@import "banner";
@import "buttons";
@import "cards";
@import "footer";
@import "navbar";
@import "indexcards";



@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Epilogue:wght@700&family=Open+Sans&family=Smooch+Sans:wght@500&family=Sora:wght@800&display=swap");
