// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.sticky-top {
  top: -60px;
    // align-items: center;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
      inset 0 0 1px rgba(255, 255, 255, 0.6);
    margin: 0;
    z-index: 1;
}
#navbar {
  background-color: #ffffff;
  align-items: center;
}
// .navbar {
// //   margin: 0 auto;
// //   // height: 50px;
//   // position: sticky;
//   // z-index: 1;
//   background-color: #ffffff;
// //   align-items: center;
//   background: linear-gradient(
//     90deg,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(255, 255, 255, 0.2) 25%,
//     rgba(255, 255, 255, 0.2) 75%,
//     rgba(255, 255, 255, 0) 100%
//   );
//   box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
//     inset 0 0 1px rgba(255, 255, 255, 0.6);
//   margin: 0;
// }

// nav ul li {
//   display: inline-block;
// }

nav ul li, .dropbtn {
  // padding: 5px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-decoration: none;
  display: block;
  align-items: center;
}

// nav ul li a:hover {
//   color: #FF840A;
// }

// nav ul li button {
//   padding: 15px;
//   font-family: "Open Sans";
//   text-transform: uppercase;
//   color: rgba(0, 0, 0, 0.5);
//   font-size: 15px;
//   text-decoration: none;
//   display: block;
//   background-color: transparent;
// }

// nav ul li h4 {
//   justify-self: right;
//   color: rgb(0, 0, 0);
//   font-weight: 900;
// }

// nav ul li h4:hover {
//   box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
//     inset 0 0 1px rgba(255, 255, 255, 0.6);
//   background: rgba(255, 255, 255, 0.1);
//   color: #FF840A;
// }

// // nav ul li a:hover {
// //   box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
// //     inset 0 0 1px rgba(255, 255, 255, 0.6);
// //   background: rgba(255, 255, 255, 0.1);
// //   color: rgba(0, 35, 122, 0.7);
// // }

// nav ul li button:hover {
//   box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
//   inset 0 0 1px rgba(255, 255, 255, 0.6);
//   background: rgba(255, 255, 255, 0.1);
//   color: #FF840A;
// }

.nav-avatar {
  opacity: 2;
  width: 30px;
}

// .navbar-brand {
  // position: absolute;
  // left: 15px;
  // padding: 5px;
  // color: rgba(0, 0, 0, 0.5);
  // font-family: 'Sora', sans-serif;
  // text-align: center;
// }

// .navbar-brand a {
//   text-decoration: none;
//   padding: 10px 5px;
//   color: rgba(0, 0, 0, 0.5);
//   font-size: larger;
//   font-weight: bolder;
// }
#logo {
  // position: absolute;
  // left: 15px;
  // padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Sora', sans-serif;
  margin-left: 15px;
  // text-align: center;
}

.simulation-navbar {
  height: 35px;
  line-height: 35px;
  align-items: center;
  background-color: #f5f5f5;

}
.simulation-navbar ul {
  list-style: none;
  text-align: center;
  justify-content: center;
}
.simulation-navbar ul li {
  text-align: center;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  text-align: center;
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
  inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #FF840A;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 1);
}
