// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {
  margin: 0 auto;
  // height: 50px;
  position: sticky;
  top: -52.5px;
  z-index: 1;
  background-color: #ffffff;
}

nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 15px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-decoration: none;
  display: block;
}

nav ul li h4 {
  justify-self: right;
  padding: 15px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none;
  display: block;
  font-weight: 900;
}

nav ul li h4:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

nav ul li a:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.nav-avatar {
  opacity: 2;
  width: 30px;
}
