<div>This is the index page for our cryptos</div>
<div data-controller="getcryptos">

</div>

<%# Creating a div for all the cards - to be centered %>
<div class="cards centered col-6 m-auto" data-controller="getcryptos">
    <div class="card-product">
      <img src="#" />
      <ul class="card-product-infos">
        <li><div class ="symbol" data-action="turbolinks:load->getCryptos#fetchCryptos">Crypto symbol</div></li>
        <li><div class ="name">Crypto name</div></li>
        <li><div class ="price">crypto price</div></li>
        <li><div class ="24hr-change">crypto 24hr change</div></li>
      </ul>
    </div>

  </div>
</div>
