
<div>This is the index page for our cryptos</div>
<%# Creating a div for all the cards - to be centered %>

<div class="cards centered col-6 m-auto" data-controller="getcryptos">
    <div class="card-product" data-getcryptos-target="indexcontainer">

    </div>
</div>
